global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'spring-actuator'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['host.docker.internal:8080', 'host.docker.internal:8081', 'host.docker.internal:8082', 'host.docker.internal:8083', 'host.docker.internal:8084', 'host.docker.internal:8086', 'host.docker.internal:8087', 'host.docker.internal:8088', 'host.docker.internal:8089', 'host.docker.internal:8091', 'host.docker.internal:8092', 'host.docker.internal:8093', 'host.docker.internal:8094', 'host.docker.internal:8095', 'host.docker.internal:8096']

